body {
  background-image: url("cloudy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin-top: 20px;
}

h2 {
  font-size: 40px;
  color: #000000;
}

h2 small {
  font-size: 16px;
  position: relative;
  top: -17px;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 18px;
  line-height: 1.5;
}

.weather-app-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin: 50px auto;
  max-width: 600px;
}

.weather-app {
  border: 2px solid #5a6275;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 30px;
  color: #5a6275;
  background-color: rgba(255, 255, 255, 0.8);
}

.my-location-button {
  color: #ffffff;
  background-color: #0f0be5;
  border: none;
  padding: 7px 10px;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

.my-location-button:hover {
  background-color: #0849e0;
}

.unit {
  text-decoration: none;
}

.active {
  cursor: default;
  color: #000000;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.max-deg {
  font-weight: 600;
}

@media (max-width: 960px) {
  .serach-engine-buttons {
    width: 100px;
    margin-top: 20px;
  }
}
